.alpromptContainer {
    position: relative;
    width: 100vw;
    height: calc(100vh - 9rem);
    display: flex;
    justify-content: center;
    padding: 4rem;
    background-image: 
        linear-gradient(to bottom, rgba(255, 255, 255, 0.81), rgba(255, 255, 255, 0.45)),
        url("../images/footerImg_2.jpg");
    background-size: cover;
    z-index: -1;
}

.content {
    position: relative;
    text-align: center;
    width: 70%;
    margin-top: 16rem;
    z-index: 2;
}

.AITitle {
    font-size: 5rem;
    font-weight: 600;
    color: #333;
    margin-bottom: 3rem;
}

.AIsubText {
    font-size: 3rem;
    margin-top: 2rem;
    color: #444;
    font-weight: 500;
}

.tags {
    margin: 5rem 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 2rem;
}

.checkbox:checked+.tagBtn {
    background-color: #ffd1a9;
    border: 1px solid #ff8f5a;
    color: #333;
    box-shadow: 0px 3px 6px rgba(255, 143, 90, 0.3);
}

.tagBtn {
    background-color: #fff2e7;
    border: 1px solid #fdd2b8;
    color: #ff8f5a;
    border-radius: 2.5rem;
    padding: 1.5rem 3rem;
    font-size: 2.5rem;
    cursor: pointer;
    transition: all 0.3s ease;
    box-shadow: 0px 3px 8px rgba(0, 0, 0, 0.1);
}
.tagBtn::before{
    content: "#";
    padding-right: 0.5rem;
}

.searchBar {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 5rem;
    width: 100%;
}

.searchInput {
    padding: 1.8rem;
    width: 85%;
    font-size: 2.5rem;
    border: 2px solid #ffe0c1;
    border-radius: 3rem;
    outline: none;
    text-indent: 1.5rem;
    background: #fffdfa;
    box-shadow: 0px 3px 8px rgba(0, 0, 0, 0.05), inset 0px 1px 3px rgba(255, 255, 255, 0.5);
    transition: all 0.4s ease-in-out;
    color: #333;
}

.searchInput:focus {
    background: #fff8f0;
    border-color: #ff8f5a;
    box-shadow: 0px 0px 10px 3px rgba(255, 143, 90, 0.5), inset 0px 1px 4px rgba(255, 255, 255, 0.8);
}

.searchInput::placeholder {
    color: #d47c2a;
    opacity: 0.8;
}

input[type="checkbox"] {
    display: none;
}

.searchBtn {
    background-color: #ff8f5a;
    border: none;
    width: 7rem;
    height: 7rem;
    border-radius: 50%;
    font-size: 2.5rem;
    color: white;
    cursor: pointer;
    box-shadow: 0px 3px 10px rgba(255, 143, 90, 0.3);
    transition: background-color 0.3s ease-in-out, transform 0.2s ease;
    margin-left: 2rem;
}