.navigator {
    display: flex;
    width: 100%;
    height: 8rem;
    justify-content: space-between;
}

.logoArea {
    width: 20%;
    height: 100%;

    text-align: center;
    background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSQy50mDfXXynHwnP8Wj4RFQWI3Pa0SEl1PCg&s");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: 50% 50%;
}

.navBar {
    width: 40%;
    height: 100%;
}

.menuElement {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-evenly;
    list-style-type: none;
    text-align: center;

    line-height: 9rem;
}

.linkStyle {
    text-decoration-line: none;
    -moz-text-decoration-line: none;
    color: #333333;
    font-size: 2rem;
    font-weight: 400;
}

.buttonArea {
    width: 20%;
    height: 100%;
    text-align: center;
}